<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor of Technology - Instrumentation and Control Engineering</h1>
            <!-- <span>Bharati Vidyapeeth's College of Engineering</span> -->
           <a href="http://www.bvcoend.ac.in/">Bharati Vidyapeeth's College of Engineering</a><!-- <span><address>Glasgow, UK</address><time>2011 to 2012</time></span> -->
            <span><time>2014 to present</time></span> 
        </header>
        <!-- <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p> -->
    </article>
    <article>
        <header>
            <h1>High School</h1>
           <a href="http://www.sanatandps.com/index.jsp">Sanatan Dharam Public School</a>
            <span><address>&nbsp &nbsp - 93.5%</address><time>2013 to 2014</time></span> 
        </header>
        </article>
    <article>
        <header>
            <h1>Middle School</h1>
           <a href="http://www.sanatandps.com/index.jsp">Sanatan Dharam Public School</a>
            <span><address>&nbsp &nbsp - 9.8</address><time>2013 to 2014</time></span> 
        </header>
        </article>
</section>
