<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Software Developer and Data Analyst Intern</h1>
             <span><address><a href="http://statkraft.com/">Statkraft Markets Pvt. Ltd</a>
               </address> , Jun 2017 to Aug 2017</span>
        </header>
        <p>Statkraft is the hydropower internationally and Europe’s largest generator of renewable energy. I was the technical lead for Statkraft's India portfolio setup project as well as Forecast Scheduling System. 
            The project included scripting in python and scheduling in Active Batch. I also examined the data and deduced some conclusions to reduce the penalties in the energy distribution market.
        </p>
    </article>
    <article>
        <header>
            <h1>Intern</h1>
             <span><address><a href="https://www.bluefoxentertainment.com/">Bluefox Entertainment</a>
               </address> , Dec 2016 — Mar 2017</span>
        </header>
        <p>Worked with the management and operations team to build artist relations and arrange facilites through event management, scheduling, technical planning, and other areas.
</p>
    </article>
    <article>
        <header>
            <h1>Engineering Intern</h1>
             <span><address><a href="http://www.airindia.in/">Air India Engineering Services Ltd.</a>
               </address> , Jun 2016 — Jul 2016</span>
        </header>
        <p>Here I did aviation engineering research and management. The training
was divided into 4 parts :<br><br>
<ul style="list-style-type:disc">
    <li>
Radio Overhaul Shop : Included research on aircraft components, cockpit voice recorder,
distance measuring equipment, emergency locator transmitter, very high frequency and HF
communication.</li>
<li>
Electrical Overhaul Shop : Included training regarding brake temperature monitoring unit,
generator, auxiliary power unit.
</li><li>
Instrument Overhaul Shop : I learnt about aircraft engine, flight data recorder, gyroscopic
systems, cabin pressure control and altimeter.
</li></ul>
</p>
    </article>
    <article>
        <header>
            <h1>Web Developer and Marketing Intern</h1>
             <span><address><a href="http://startupmasterz.com/">Ace Networks Pvt. Ltd.</a>
               </address> , Jan 2016 — Mar 2016</span>
        </header>
        <p>Maintained, expanded and scaled the website and integrated the data from various back-end services and databases.
I got the opportunity to interacted with dozens of startups and investors. Also, organised pitching events, guest
lectures, networking events for entrepenurial enthusiasts.
</p>
    </article>
<article>
        <header>
            <h1>Co-Founder</h1>
             <span><address>Nextgendeals
               </address> , Sep 2015 — Dec 2016</span>
        </header>
        <p>Developing end-to-end platform for selling the 'Next' brand appliances. The startup handled the
online business for Next appliances. Experimented many e-commerce platforms for the web.
Apart from the primary business, we focused more on creating interesting technology, most
notable one was: A project that incorporates a cross-platform web-service to share web-links
and bookmarks. Developed highly decoupled architecture designed on AWS for the web
service enabling very low latency experience.
A web service that brings apple's continuity features, including calling, to the masses
implemented by designing custom bluetooth protocol to support transferring audio to PC
(A2DP to HFP), however it is apparently limited by the overwhelming segmentation in the
bluetooth stacks
</p>
    </article>
<article>
        <header>
            <h1>Research And Development Intern</h1>
             <span><address><a href="http://realbox.in">RealBox Data Analytics Pvt. Ltd</a>
               </address> , Jun 2015 — Aug 2015</span>
        </header>
        <p>I worked on creating a Point of Sale (POS) system, using some great javascript libraries, mongoDB, deployed it to a raspberry pi. The goal was to make it end to end, and light enough to support raspberry pi as the central server.
        <br> I also explored front-end web development using jQuery, HTML/CSS. This was my first experience in corporate world.
        </p>
    </article>
<br>
 <h1>CERTIFICATIONS</h1>
     <article>
        <header>
            AWS Certified Developer - Associate (Score - 86%)
        </header>
    </article>
     <article>
        <header>
            Google Analytics Certification (Score - 96%)
        </header>
    </article>
     <article>
        <header>
            Mobile Sites certified (Score - 98%)
        </header>
    </article>
<br>
 <h1>VOLUNTEERING</h1>
     <article>
        <header>
            <h1>Computer Science Teacher</h1>
             <span><address><a href="http://www.indiancomputer.co.in/">Indian Computer Institute</a>
               </address> 
        </header>
        <p>I taught how to program in C/C++ to students and gave couselling sessions to fear striken students especially girls. Also, I was awarded as the Teacher of the Month (March).</p>
     </article>
    <article>
        <header>
            <h1>Founder</h1>
             <span><address>Startup Masterz Club BVCOE
               </address> 
        </header>
        <p>I partnered with external accelerators and seed investors, to create an experimental incubation
centre in the college.</p>
     </article>
<article>
        <header>
            <h1>Permanent Member</h1>
             <span><address><a href="http://bvcoend.ac.in/site/home/index/200">National Service Scheme</a>
               </address> 
        </header>
        <p>A national NGO group where I have been part of many campaigns to rural parts of Delhi,
Rajasthan and Punjab to encourage technology and education.</p>
     </article>
    <article>
        <header>
            <h1>BVCOE - Clubs, Core team member</h1>
             <span><address>GDG, GSC, ISA, ISTE, CSI
               </address> 
        </header>
        </article>
    <article>
        <header>
            <h1>World Cultural Festival, Guitarist</h1>
        </header>
           </article>



</section>
