<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>Minor Project Manager</h1>
            <span><address>Bharati Vidyapeeth's College, Delhi</address><time>2017</time></span>
        </header>
        <p>
            <b>Forecasting of Solar Generation using Machine Learning : </b> Developing a statistical model using machine learning to get more accuracy in Forecasted Solar
Power Scheduling.
        </p>
    </article>
    <article>
        <header>
            <h1>Mini Project Manager</h1>
            <span><address>Bharati Vidyapeeth's College, Delhi</address><time>2016</time></span>
        </header>
        <p>
            <b>Solar ECG Development : </b> Electrocardiogram (EKG or ECG) development and optimization using Solar energy by
connecting the basic ECG circuit on the micro-controller to the solar cells and battery.
        </p>
    </article>
</section>