<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <!-- <header> -->
            <header>Programming</header>
        <!-- </header> -->
        <!-- <p> -->
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Java, HTML/CSS, Go, Javascript, C++</em>
        <!-- <p> -->
           <br>
           <header>Development</header>
           <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em> Android, Full Stack Web, Active Batch Scheduling </em>
        <!-- </p> -->
        <!-- <p> -->
             <br>
           <header>Cloud Computing </header>
           <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>AWS</em>
            <br>
           <header>Machine Learning </header>
           <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Tensorflow, octave/Matlab</em>
             <br>
           <header>Embedded Systems </header>
           <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Microprocessors, Microcontrollers</em>
        <!-- </p> -->
    </article>
</section>